.header{
    height: 80px;
    background-color: rgba(0, 0, 0, 0.788);
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    align-items: center;

}
.header a {
    margin-right: 30px;
    color: white;
    text-decoration: none;
}

.header a:hover{
    color: orangered
}